# ===============================
# R3D Create Local User (Relocated)
# Git ignore file
# ===============================

# --- PowerShell artifacts ---
*.ps1~                 # temp/backup script edits
*.psm1~                # temp modules
*.psd1~                # temp data files
*.bak
*.tmp
*.log
*.out
*.old

# --- Windows system files ---
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/
System Volume Information/

# --- VS Code ---
.vscode/
*.code-workspace

# --- IDE / Editor cache ---
.idea/

# --- Git / OS metadata ---
.DS_Store
*.lnk
